In [1]:
import pandas as pd
import numpy as np

In [2]:
agri = pd.read_csv("./Agriculture.csv")
agri.tail()
agri3 = pd.read_csv("./apy.csv")

In [3]:
agri2 = agri3[["State_Name", 	"District_Name"]]

In [7]:
# for i in agri2.index :
#     print(agri2.District_Name[i], agri2.State_Name)

# with open("2.csv" , 'r') as f :
#     for i in range(647):
#         s = f.readline() 
#         if s.count(',')!= 4 :
#             print(s)

a = pd.read_csv('./lat-long.csv', )

In [10]:
agri3.merge(a ).to_csv("final.csv")

In [ ]:
%pip uninstall googlemaps
%pip uninstall geopy

Found existing installation: googlemaps 4.4.2
Uninstalling googlemaps-4.4.2:
  Would remove:
    /home/hari/.local/lib/python3.8/site-packages/googlemaps-4.4.2.dist-info/*
    /home/hari/.local/lib/python3.8/site-packages/googlemaps/*
Proceed (y/n)?

In [56]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="temp")
import requests
import urllib.parse



def getLocation(district,state, country ="India" ) : 
    try : 
        district = district.lower()
        state = state.lower()
        fun = lambda x : x if ord(x) in  list(range(97 , 97 + 26)) else ''
        district = ''.join(list(map(fun , list(district))))
        state = ''.join(list(map(fun , list(state))))
        address = district+", " +state +", " + country
        url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'
        response = requests.get(url).json()
        print(response[0]["lat"], response[0]["lon"])
        return response[0]["lat"], response[0]["lon"]
        
        
#         print(address)
#         loc = geolocator.geocode(address)
#         return loc.latitude,loc.longitude
    except :
        return (-1, -1) 
getLocation("pollachi" , "Tamil nadu")

10.67047305 77.00991258704545

('10.67047305', '77.00991258704545')

In [57]:
# agri3["lat"] = 0 
# agri3["lon"] = 0

for i in a[a.lat==-1].index :
    a.lat[i], a.lon[i] = getLocation(a.District_Name[i], a.State_Name[i], )
    print(i)

<ipython-input-57-4ad49ce16116>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a.lat[i], a.lon[i] = getLocation(a.District_Name[i], a.State_Name[i], )

0
1
3
11
12
17
18
22
25
33
36
39
40
51
56
57
60
65
67
75
89
98
101
109
113
127
131
132
138
144
149
157
164
165
166
177
185
188
191
195
204
210
216
220
225
226
229
234
249
260
262
279
284
287
293
300
302
308
309
311
318
337
339
342
343
353
354
364
370
378
387
394
395
401
415
420
426
427
445
458
461
466
472
478
479
485
489
490
493
503
504
515
520
524
528
530
533
536
538
539
540
544
549
559
593
604
605
609
612
615
622
625

In [59]:
# for i in agri2[agri2.lon==-1].index:
#     agri2.lat[i], agri2.lon[i] = getLocation(agri2.market[i], agri2.state[i], )
    
# agri2.to_csv("latANDlon.csv")

# agri.to_csv("./Agriculture.csv")

a.to_csv("2.csv")
# a[a.lat==-1].shape

In [16]:
b = pd.concat([agri3 , a]   )
b

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,lat,lon
0,Andaman and Nicobar Islands,NICOBARS,2000.0,Kharif,Arecanut,1254.0,2000.0,NaN,NaN
1,Andaman and Nicobar Islands,NICOBARS,2000.0,Kharif,Other Kharif pulses,2.0,1.0,NaN,NaN
2,Andaman and Nicobar Islands,NICOBARS,2000.0,Kharif,Rice,102.0,321.0,NaN,NaN
3,Andaman and Nicobar Islands,NICOBARS,2000.0,Whole Year,Banana,176.0,641.0,NaN,NaN
4,Andaman and Nicobar Islands,NICOBARS,2000.0,Whole Year,Cashewnut,720.0,165.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
641,Karnataka,YADGIR,NaN,NaN,NaN,NaN,NaN,0.0,0.0
642,Haryana,YAMUNANAGAR,NaN,NaN,NaN,NaN,NaN,0.0,0.0
643,Puducherry,YANAM,NaN,NaN,NaN,NaN,NaN,0.0,0.0
644,Maharashtra,YAVATMAL,NaN,NaN,NaN,NaN,NaN,0.0,0.0
645,Nagaland,ZUNHEBOTO,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [147]:
for i in agri3.index : 
    agri3["lat"][i] = agri2[agri2.district == agri.district[i] ].lat.values[0]
    agri3["lon"][i] = agri2[agri2.district == agri.district[i] ].lon.values[0]

<ipython-input-147-219ca4ae06a2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agri["lat"][i] = agri2[agri2.district == agri.district[i] ].lat.values[0]
<ipython-input-147-219ca4ae06a2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agri["lon"][i] = agri2[agri2.district == agri.district[i] ].lon.values[0]

In [ ]:
def getCommodity(commodity) :
    return agri[agri.commodity==commodity]  

# getCommodity("Carrot")
agri.district.unique()

In [164]:
# agri3 = pd.read_csv("./apy.csv")
len(agri3.District_Name.unique())

646

In [170]:
list_a = list(agri3.District_Name.unique())
def up(i) :
    return i.upper()
list_b = list( map(up,  agri.district.unique()))
count = 0
for i in list_a :
    if i in list_b :
        count += 1 
        
count

131

In [ ]:
agri3.to_csv("apy.csv" , d)

In [6]:
a[a.lat==-1]

     Unnamed: 0       District_Name      State_Name  lat  lon
0             0  24 PARAGANAS NORTH     West Bengal -1.0 -1.0
1             1  24 PARAGANAS SOUTH     West Bengal -1.0 -1.0
3             3          AGAR MALWA  Madhya Pradesh -1.0 -1.0
11           11             ALIGARH   Uttar Pradesh -1.0 -1.0
12           12           ALIRAJPUR  Madhya Pradesh -1.0 -1.0
..          ...                 ...             ...  ...  ...
609         609              UMARIA  Madhya Pradesh -1.0 -1.0
612         612               UNNAO   Uttar Pradesh -1.0 -1.0
615         615        UTTAR KANNAD       Karnataka -1.0 -1.0
622         622             VIDISHA  Madhya Pradesh -1.0 -1.0
625         625      VISAKHAPATANAM  Andhra Pradesh -1.0 -1.0

[112 rows x 5 columns]

In [ ]:
# after lat and long rec

In [13]:
import pandas as pd
import numpy as np 

agri = pd.read_csv('./final.csv' , )
agri.head()

/home/hari/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,lat,lon
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,7.1205,93.7842
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,7.1205,93.7842
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,7.1205,93.7842
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,7.1205,93.7842
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,7.1205,93.7842

In [14]:
from GPSPhoto import gpsphoto

ModuleNotFoundError: No module named 'GPSPhoto'